

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background:#fff;
}


/* LOGIN PAGE FORM */
/* ---------------- */
/* LOGIN PAGE FORM */



.form-signin {
  max-width: 330px;
  padding: 15px;
  padding-top:150px;
  margin: 0 auto;
 
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
 
}
.form-signin .checkbox {
  font-weight: normal;
  margin-left: 20px;

}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius:0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius:0;
}

.btn-block{
 border-radius:0;   
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
}

.alert, .alert-success{
 margin-top:50px;   
}